<div *ngIf="propertyDetails">
  <br>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="7"></div>
    <div fxFlex="7">
      <img src="{{hostLink}}{{propertyDetails.AgentImage}}" style="height:75px; width:75px;border-radius:50%;">
    </div>
    <div fxFlex="50" class="property-title">
      <h3>{{propertyDetails.Title}}</h3>
      <div>{{propertyDetails.City}}, {{propertyDetails.Zip}}</div>
    </div>
    <div fxFlex></div>
    <div>
      <h3>Price : {{propertyDetails.Price}} Euros</h3>
      <div *ngIf="userObj && userType == 1">
        <mat-checkbox class="example-margin" (change)="toggleFav(favChecked)" [(ngModel)]="favChecked">
          <span *ngIf="favChecked">Remove as Favourite</span>
          <span *ngIf="!favChecked">Mark it as Favourite</span>
        </mat-checkbox>
      </div>
    </div>
    <div fxFlex="7"></div>
  </div>

  <br>

  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="10"></div>
    <div fxFlex="80">


      <div class="item">
        <img src="{{hostLink}}{{activeImagePath}}" alt="House Image" style="height:70vh;width:100%;">
      </div>


      <div style="overflow-x: scroll">
        <img (click)="displayImage(image.ImagePath)" style="height:75px; width:75px; margin:5px;" *ngFor="let image of propertyDetails.AdMedia"
          src="{{hostLink}}{{image.ImagePath}}">

      </div>
    </div>

    <div fxFlex="10"></div>
  </div>
</div>
<br>
<div *ngIf="propertyDetails" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="5"></div>
  <div fxFlex="62">
    <div style="padding: 0px 5px;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div fxFlex="30">
        <h4>Details</h4>
        <div fxLayout="row">
          <div fxFlex="40">Bed</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.BedRooms}}</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Bath</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.BathRooms}}</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Kitchen</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.Kitchen}}</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Area</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.SquareFeet}} sqft</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Parking</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.Parking == '1' ? 'Yes' : 'No'}}</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Type</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.AdType.AdTypeName}}</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Price</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.Price}}</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Floors</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.NumOfFloors}}</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Living Room</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.LivingRooms}}</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="40">Lot Area</div>
          <div fxFlex="5">:</div>
          <div fxFlex="55">{{propertyDetails.LotArea}}</div>
        </div>
      </div>
      <div style="padding: 0px 5px;" fxFlex="70">
        <h4>Description</h4>
        <p>{{propertyDetails.AdDescription}}</p>
        <h4>Address</h4>
        <div>{{propertyDetails.Address}}, {{propertyDetails.City}}</div>

        <div>{{propertyDetails.State}}, {{propertyDetails.Zip}}</div>

      </div>
    </div>
    <div>
      <h4>Map</h4>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="locationChosen"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div fxFlex="5"></div>
  <div fxFlex="23">
    <div style="padding: 0px 5px;">
      <h4>Agent Info</h4>
      <div class="agent-info">
        <img class="agent-info-image" src="{{hostLink}}{{propertyDetails.AgentImage}}">
        <div class="agent-info-name">{{propertyDetails.AgentName}}</div>
        <div>(RealEstate Agent)</div>
        <br>
        <div *ngIf="userObj" class="agent-info-message">
          <mat-card *ngIf="userObj['UserTypeId'] !== 2">
            <h4>Send Message</h4>
            <mat-form-field class="example-full-width">
              <textarea [(ngModel)]="message" matInput placeholder="Enter Message"></textarea>
            </mat-form-field>
            <button (click)="sendMessage(message)" mat-raised-button color="primary">Send</button>
          </mat-card>

        </div>
      </div>
    </div>
    <br>
    <div class="refer-property">
      <mat-card>
        <h4>Refer This Property</h4>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="referProperty.name" matInput placeholder="Enter Name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="referProperty.email" matInput placeholder="Enter Email" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea [(ngModel)]="referProperty.subject" matInput placeholder="Enter Description"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="refer(referProperty)" color="primary">Refer</button>
      </mat-card>

    </div>
  </div>

  <div fxFlex="5"></div>
</div>
